# =========================================================
# REQUIREMENTS FOR ENERGY ANALYTICS SERVICE
# =========================================================

apscheduler==3.10.4
python-dotenv==1.2.2
Requests==2.34.2
