export VIRTUAL_ENV=/dockerapps/apps_v2/.venv
export PATH="$VIRTUAL_ENV/bin:$PATH"

python -m pip check || exit 1

export PYTHONUNBUFFERED=1
export PYTHONDONTWRITEBYTECODE=1

echo "✔ venv active: $VIRTUAL_ENV"