# =================================================================
# APPLICATION
# =================================================================
APP_NAME=pokeys-service
APP_ATTRIBUTION="Peter Siebler"
PROJECT_NAME=hc_smet
SERVER_HOST=0.0.0.0
SERVER_PORT=8096
BASE_URL=/
FRONTEND_REQUEST_METHOD=GET

# =================================================================
# DATA MODE & PRICES
# =================================================================
POKEY_SERVICE=GET
SENSOR_SCALE_FACTOR=0.1
FETCH_INTERVAL=60
# Achtung: Muss ein valides, einzeiliges JSON-Objekt sein!
STROMPREISE='{"2013":0.19,"2014":0.17,"2015":0.14,"2016":0.18,"2017":0.16,"2018":0.14,"2019":0.17,"2020":0.18,"2021":0.19,"2022":0.21,"2023":0.17,"2024":0.18,"2025":0.24,"2026":0.24}'
CO2_WERT = 380.0 # g/kWh

# Grenzwerte für die Energieklassen in kWh/Jahr
LIMIT_CLASS_A=100
LIMIT_CLASS_B=150
LIMIT_CLASS_C=200
LIMIT_CLASS_D=300
LIMIT_CLASS_E=400
LIMIT_CLASS_F=500

# =================================================================
# DATABASE & LOGS
# =================================================================
# DB_PATH kann absolut oder relativ zum Projekt-Root angegeben werden
DB_PATH=data/
DB_ENABLED=true
DATA_LOG_ENABELD=true
DATA_TRACE_ENABELD=true

# =================================================================
# ANALYTICS CONFIGURATION
# =================================================================
YEAR_FROM=2013
YEAR_TO=2100
ENABLE_CLUSTERING=true
ENABLE_DAILY_STATS=true
ANALYTICS_DB_PATH=data/analytics.sqlite

# =================================================================
# MQTT
# =================================================================
MQTT_ENABLED=true
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_CLIENT_ID=pokey_service
MQTT_USERNAME=
MQTT_PASSWORD=

MQTT_INTERVAL=300
MQTT_TOPIC_TEST=
MQTT_TOPIC_BASE=smartmeters

# ----------- Home Assistant -----------
HA_BASETOPIC=hc_smet
HA_DISCOVERY=homeassistant

# =================================================================
# SENSOR MAPPING & LOGGING
# =================================================================
MAPPING_ENABLED=true
MAPPING_FILE=app/domain/house.yaml

LOG_LEVEL=INFO
LOG_MODE=both
LOG_FILE=logs/app.log
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=3
LOGGING_ON=true

# =================================================================
# POKEYS DEVICES
# RESET 01.06.2026 11:00
# =================================================================
POKEYS_DEVICE1_ID=IF64
POKEYS_DEVICE1_NAME=poKey64
POKEYS_DEVICE1_IP=<ip>
POKEYS_DEVICE1_SENSORS=1-25
POKEYS_DEVICE1_PINS=0,1,4,5,8,10,14,15,18,19,20,21,22,23,24,25,26,27,40,41,42,43,45,47,48

POKEYS_DEVICE2_ID=IF65
POKEYS_DEVICE2_NAME=poKey65
POKEYS_DEVICE2_IP=<IP>
POKEYS_DEVICE2_SENSORS=26-50
POKEYS_DEVICE2_PINS=0,1,4,5,8,10,14,15,18,19,20,21,22,23,24,25,26,27,40,41,42,43,45,47,48

# ----------- Webhook -----------
HA_WEBHOOK_URL=http://<IP>:8123
HA_WEBHOOK_ID=smartmeters

# ----------- KPI Dashboard -----------
KPI_APP_ID=hc_smet
KPI_APP_NAME=SmartMeters
KPI_ICON=speed
KPI_URL=http://<ip>

